<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Customer Information</h1>
    <nav>
        @* 1st param is name on link, 2nd param is action method, 3rd param is controller*@

        <span>
            <a asp-action="AllCustomers" asp-controller="Customer">All Customers</a>
        </span>
        <span>
            <a asp-action="Create" asp-controller="Customer">Create New Customer Account</a>
        </span>
        <span>
            <a asp-action="Details" asp-controller="Customer">Display Customer Details</a>
        </span>
        <span>
            <a asp-action="Update" asp-controller="Customer">Update Customer Information</a>
        </span>
        @if (User.Identity.IsAuthenticated)
        {
            <span>
                <a asp-action="Logout" asp-controller="Account">Logout</a>
            </span>
        }
        else
        {
            <span>
                <a asp-action="Login" asp-controller="Account">Login</a>
            </span>
        }
    </nav>

        @RenderBody()   
    @RenderSection("footer", false);
</body>
</html>
